@model CategoriesSystem.Models.Product

<h2 class="mb-4">Product Details</h2>

<div class="card" style="max-width: 600px;">
    <img src="@Model.ImagePath" class="card-img-top" style="height:300px; object-fit:cover;" />

    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>

        <p class="card-text">@Model.Description</p>

        <h4 class="text-success">@Model.Price JD</h4>

        <a asp-controller="Products"
           asp-action="ByCategory"
           asp-route-id="@Model.CategoryId"
           class="btn btn-secondary">
            Back to Products
        </a>
    </div>
</div>