@{
    ViewData["Title"] = "Home Page";
}
@model Tuple<Student,Course>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <h2>Student Information</h2>
    <p>ID: @Model.Item1.Id</p>
    <p>Name: @Model.Item1.Name</p>
    <p>Age: @Model.Item1.Age</p>

    <hr />

    <h2>Course Information</h2>
    <p>Course ID: @Model.Item2.CourseId</p>
    <p>Course Name: @Model.Item2.CourseName</p>
    <p>Instructor: @Model.Item2.InstructorName</p>
</div>
